@use '../base/variables' as v;
@use '../base/mixins' as m;
/* src/Components/Footer/Footer.scss */
.footer {
    flex-shrink: 0;
    background-color: #000; /* Asegúrate de que el fondo sea visible */
    color: #fff; /* Color del texto */
    text-align: center;
    padding: 10px 0;
}
